* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
.header {
  border: 1px solid #f1f1f1;
  /* background-color: aqua; */
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}
.navbar {
  margin: 0 40px;
  height: 60px;
  display: flex;
  justify-items: space-between;
  /* margin-top: 20px; */
}
.nav {
  padding-right: 36px;
  margin-top: 20px;
}
.logo {
  width: 150px;
}
.navbar a {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: auto;
}
.navbar a img {
  margin-top: 10px;
  width: 42px;
}

/* container image */
.container-img {
  height: 946px;
  background-image: url("assets/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  float: left;
}
/* .container-img-gradient{
  
} */

/* container login */
.container-login {
  height: 946px;
  width: 40%;
  /* border: 1px solid black; */
  float: right;
  background-image: linear-gradient(to top, #c5e0f780, #ffffff, #ffffff);
}

/* login form */
.login-form {
  /* border: 1px solid red; */
  margin: 64px 42px 328px 42px;
}
.login-form img {
  width: 224px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.desc-text {
  text-align: center;
  margin-top: 20px;
}
.desc-text p {
  /* border: 1px solid black; */
  margin-top: 10px;
  margin: 0 70px;
}

/* all-menu */
.all-menu button {
  border: none;
  margin-top: 16px;
  width: 100%;
  height: 46px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* dropdown */
.dropdown {
  border: 1px solid #f1f1f1;
  height: 48px;
  margin-top: 30px;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
}
.dropdown-logo {
  width: 47px;
  height: 47px;
  background-color: #f1f3f9;
  float: left;
}
.dropdown-logo i {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  color: rgb(77, 77, 77);
  position: relative;
  left: 11px;
  top: 21px;
  /* border: 1px solid red; */
  /* justify-content: center; */
}
.dropdown-text {
  margin: 15px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  color: #6c717a;
  font-weight: 500;
  font-size: 16px;
}

/* dropdown content */
.dropdown-4 {
  width: auto;
  border: 2px solid #f1f1f1;
  height: 230px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: -9px 20px 10px#3e434a1c;
  /* visibility: hidden; */
}
.content-title {
  margin: 15px 12px;

  display: flex;
  justify-content: space-between;
}
.content-title span {
  font-weight: 500;
  font-size: 14px;
  color: #4a505c;
}
.content-title i {
  margin-top: 10px;
}
hr {
  color: #f1f1f1;
}
.content {
  margin: 8px 12px;
  display: flex;
  justify-content: space-between;
  cursor: default;
}
.content span {
  color: #4a505c;
  font-weight: 500;
  font-size: 14px;
}
.order-btn {
  display: flex;
  flex-direction: row;
  gap: 13px;
}
.minus-btn {
  width: 40px;
  height: 40px;
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 7px;
  color: #6c717a;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.minus-btn i {
  position: relative;
  left: 4px;
  top: 1px;
}
.number {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  /* border: 1px solid black; */
}
.plus-btn {
  width: 40px;
  height: 40px;
  background-color: #002662;
  border-radius: 4px;
  /* font-weight: bold; */
  font-size: 20px;
  padding: 7px;
  color: #ffffff;
  cursor: pointer;
}
.plus-btn i {
  position: relative;
  left: 4px;
  top: 1px;
}
.done-btn {
  /* background-color: #ffffff; */
  height: 2px;
  color: #002662;
  text-align: right;
  padding: 20px 12px;
  margin-bottom: 20px;
  font-weight: 700;
}

.copyright {
  display: flex;
  margin: 244px 57px 64px 57px;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  color: #4a505c;
}

/* hide / show dropdown */
.show-dropdown {
  visibility: visible;
}
.hide-dropdown {
  visibility: hidden;
}
